<div class="d-felx flex-column rounded mx-3 mt-5 card border border-1" id="QL">
  <div
    class="d-flex justify-content-between align-items-center card-header text-secondary"
  >
    <div class="d-flex flex-row px-2 align-items-center">
      <p class="">{{ numberOfOpenedTopics }} Open</p>
      <p class="">{{ numberOfClosedTopics }} Closed</p>
    </div>
    <div class="d-flex flex-row px-2 align-items-center">
      <!-- A button that filters topics by status-->
      <mat-button-toggle-group
        name="fontStyle"
        aria-label="Font Style"
        class="mx-2"
        [value]="Status"
        (change)="filterByStatus($event)"
      >
      <p class="mx-2">Filters:</p>
        <mat-button-toggle value="all">All</mat-button-toggle>
        <mat-button-toggle value="open">Open</mat-button-toggle>
        <mat-button-toggle value="closed">Closed</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div>
    <mat-expansion-panel *ngFor="let topic of topics" class="card">
      <mat-expansion-panel-header class="p-3">
        <mat-panel-title class="fw-bold"> {{ topic.getTitle() }} </mat-panel-title>
        <mat-panel-description class="text-secondary">
          {{ topic.getDescription() }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a
        class="text-decoration-none"
        [routerLink]="['/topics', topic.getId()]"
      >
        <app-chat-card [card]="topic"></app-chat-card>
      </a>
    </mat-expansion-panel>
  </div>
</div>
