<div class="p-5 h-100">
  <div>
    <p class="fw-bold">Forums</p>
    <a class="btn btn-primary w-100 text-start m-1">View all</a>
    <a class="btn w-100 text-start m-1">General</a>
    <a class="btn w-100 text-start m-1">Ideas</a>
    <a class="btn w-100 text-start m-1">User Feedback</a>
  </div>
  <div>
    <p class="fw-bold">Tags</p>
    <div class="d-flex flex-wrap">
      <button class="btn btn-light text-start m-1">General</button>
      <button class="btn btn-light text-start m-1">Ideas</button>
      <button class="btn btn-light text-start m-1">User Feedback</button>
    </div>
  </div>
</div>
