<div class="p-5 mt-5">
  <div class="card">
    <div class="card-header">
      <h1>{{ topic.title }}</h1>
    </div>
    <div class="card-body">
      <p>{{ topic.description }}</p>
      <p>{{ topic.author }}</p>
      <p> Created on: {{ topic.date }}</p>
      <p> Category: {{ topic.category }}</p>
      <p> Tags: {{ topic.tags }}</p>
      <div class="d-flex">
        <p><i class="px-1 bi bi-hand-thumbs-up text-success">{{ topic.likes }}</i></p>
        <p><i class="px-1 bi bi-hand-thumbs-down text-danger">{{ topic.dislikes }}</i></p>
      </div>
    </div>
  </div>
</div>
