<div class="p-5 mt-5">
  <div class="card">
    <div class="card-header">
      <h1>{{ topic.getTitle() }}</h1>
    </div>
    <div class="card-body">
      <p>{{ topic.getDescription() }}</p>
      <p>{{ topic.getAuthor() }}</p>
      <p> Created on: {{ topic.getDate() }}</p>
      <p> Category: {{ topic.getCategory() }}</p>
      <p> Tags: {{ topic.getTags() }}</p>
      <div class="d-flex">
        <p><i class="px-1 bi bi-hand-thumbs-up text-success">{{ topic.getLikes() }}</i></p>
        <p><i class="px-1 bi bi-hand-thumbs-down text-danger">{{ topic.getDislikes() }}</i></p>
      </div>
      <div *ngIf="topic.getComments()" >
      <p>No comments yet</p>
    </div>
    <div class="" *ngFor="let comment of topic.getComments()">
      <p>{{ comment }}</p>
    </div>
    </div>
  </div>
</div>
