<div class="p-5 mt-5">
  <div class="card">
    <div class="d-flex card-header align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <div class="d-flex flex-column mx-2">
          <button class="btn btn-outline-success my-1" (click)="topic.like()">
            <i class="px-1 bi bi-hand-thumbs-up">{{ topic.getLikes() }}</i>
          </button>
          <button class="btn btn-outline-danger my-1" (click)="topic.dislike()">
            <i class="px-1 bi bi-hand-thumbs-down">{{ topic.getDislikes() }}</i>
          </button>
        </div>
        <h1 class="mx-1">{{ topic.getTitle() }}</h1>
      </div>
      <div>
        <img
          class="rounded-circle"
          width="50"
          src="../../../assets/user.jpeg"
          alt="user"
        />
      </div>
    </div>
    <div class="card-body">
      <p>
        <span class="fw-bold">Author:</span>
        {{ topic.getAuthor() }}
      </p>
      <p>{{ topic.getDescription() }}</p>
      <p>
        <span class="fw-bold">Created on:</span>
        {{ topic.getDate() }}
      </p>
      <p>
        <span class="fw-bold">Category: </span>
        {{ topic.getCategory() }}
      </p>
      <div class="d-flex">
        <p>Tags:</p>
        <div *ngFor="let tag of topic.getTags()">
          <app-topic-pill tag="{{ tag }}"></app-topic-pill>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex align-items-center flex-row justify-content-between">
        <p class="h5 fw-bold">Comments:</p>
        <p>{{ topic.getComments().length }}</p>
      </div>
      <div class="card-body" *ngIf="topic.getComments().length == 0">
        <p>No comments yet</p>
      </div>
      <div
        class="align-items-center w-100 p-3 border rounded bg-white"
        *ngFor="let comment of getComments()"
      >
        <p>{{ comment }}</p>
      </div>
      <!-- comment input -->
      <div class="d-flex align-items-center flex-row justify-content-between">
        <input
          class="form-control"
          type="text"
          placeholder="Write a comment"
          [(ngModel)]="comment"
        />
        <button class="btn btn-primary mx-2" (click)="addComment(comment)"><i class="bi bi-send"></i></button>
      </div>
    </div>
  </div>
</div>
